.Home {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/cover.png);
    justify-content: space-evenly;
    align-items: center;
}

.container {
    display: flex;
    width: 90vw;
    flex-direction: column;
    justify-content: center



}

.btn {
    width: 8rem;
    height: 2.2rem;
    border-radius: 50px;
    border: none;
    background-color: teal;
    color: white;
    font-size: medium;
    font-weight: bolder;
    padding: 2px;
    cursor: pointer
}