.card {
    flex-direction: column;
    width: 50vw;
    height: 8.9rem;
    border: solid silver 1px;
    border-radius: 0px 10px 10px 0px;
    justify-content: space-evenly;
}

.card-container {
    display: flex;
    margin: 10px auto;
}

.card-content {
    display: flex;
    height: 25vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: auto 0px 0px 10px
}

.img-character {
    width: 40vw;
    height: 9rem;
    border-radius: 10px 0px 0px 10px;
}

@media (min-width:767px) {
    .card {
        width: 25vw;
        height: 25vh;
    }


    .img-character {
        width: 15vw;
        height: 25.40vh;
    }
}

@media (min-width:1023px) {
    .card {
        width: 20vw;
        height: 20vh;
    }
    .card-content{
        width: 18vw;
        height: 20vh;
        align-items:flex-start
        
    }

    .img-character {
        width: 10vw;
        height: 20.2vh;
    }
}