.navbar {
    display: flex;
    margin: auto;
    background-color: black;
    color: white;
}

.navbar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 9vh;
    width: 100vw;
}

.navlink-container {
    display: none;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links {
    margin: 2rem;
    color: aliceblue;
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;
    justify-items: center;
    align-content: center;
    padding: 1.2em;
}

.navbar-links :hover {
    color: red;
    border-bottom: solid 4.7px red;
    transition: ease-in-out 230ms;
}



@media (min-width:767px) {
    .navlink-container {
        display: flex;
        width: 100vw;
        justify-content: space-evenly;
        align-items: center;
    }
  
}